.button-container {
  height: 100vh;
  position: fixed;
  background-color: transparent;
}

#pay, #basket-btn, #add-product, #update-product {
  position: fixed;
  bottom: 10px;
  width: 90vw;
  margin: 0 5vw;
}

#add-product-btn {
  width: 90vw;
  margin: 0;
}

#update-product-btn {
  width: 90vw;
  margin: 0;
}
