<div class="product">
  <%= render "products/product", product: @product %>
  <div class="prod-form button-container">
    <div id="update-product">
      <%= simple_form_for [@restaurant, @product, @order], html: {class: "w-100"} do |f| %>
        <%= f.input :comments, label: false %>
        <%= f.submit 'Update my comment', class:"btn btn-dark", id:"update-product-btn" %>
      <% end %>
    </div>
  </div>
</div>
