<div class="mt-5 container d-flex flex-column justify-content-center align-items-center">
<%# <h1>Tables</h1> %>
  <% @tables.each do |table| %>
    <p class="mt-5 fs-2"><%= "Table #{table.number}" %></p>
    <div><%= table.qr_code.html_safe %></div>
  <% end %>
</div>
