.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  // position: relative;
  // width: 100%;
  // overflow: hidden;
}



.content-page{
  width: 80vw; /* Adjust as needed */
  height: 100vh;
  background-color: #fff; /* Example background color */
  position: fixed;
  right:100%;
  right: -300px; /* Initial position to hide it */
  top: 0;
  transition: right 0.3s ease; /* Add a transition for smooth sliding */
}
