// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "tabs";
@import "card";
@import "banner";
@import "basket";
@import "home_page";

#arrow {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 999;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
