// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "tabs";
@import "card";
@import "banner";
@import "basket";
@import "home_page";

.arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
